@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  background-color: #f4f4f4;
}

main {
  min-height: 80vh;
}


h1,
h2,
h3,
h4,
p,
a,
li,
span {
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

:root {
  --color-principal: #0064F9;
}

/* Estilos header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  border-bottom: solid 1px #e1e1e1;
  flex-wrap: wrap;
}

header img {
  width: 15rem;
  height: auto;
}

header ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

header ul li a {
  color: #000000;
  font-weight: bold;
  font-size: 2.3rem;
  text-transform: uppercase;
}

header ul li a:hover {
  color: var(--color-principal);
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-buttons .login {
  background-color: var(--color-principal);
  color: #ffffff;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 2rem;
}


.header-buttons .login:hover {
  opacity: 0.8;
}

/* Menú hamburguesa */
.menu-hamburguesa {
  background: none;
  border: none;
  font-size: 3rem;
  display: none;
  cursor: pointer;
  color: #000000;
}

/* Ocultamos el menú en mobile por defecto */
@media (max-width: 768px) {
  .menu-hamburguesa {
    display: block;
    order: 1;
  }

  header {
    padding: 2rem;
  }

  header img {
    width: 12rem;
  }

  .menu-nav {
    display: none;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    order: 4;
    align-items: flex-start;
    width: 100%;
  }

  .menu-nav.activo {
    display: flex;
  }

  header .imagen-container {
    order: 2;
    padding-top: .5rem;
  }

  .header-buttons {
    order: 3;
    gap: 0;
  }

  .header-buttons .login {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}


/* Estilos footer */
footer {
  padding: 4rem 5rem;
  border-top: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  background-color: #101828;
  color: #cdd0d5;
}

footer .footer-top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .footer-top h3 {
  font-size: 2.7rem;
  font-weight: bold;
}

footer img {
  max-height: 3rem;
}

footer .iconos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer .iconos i {
  font-size: 3rem;
  cursor: pointer;
  transition: all ease 500ms;
}

footer .iconos i:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {

  footer {
    font-size: 1.4rem;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.leaflet-popup-content {
  font-size: 1.2rem !important;
}

.leaflet-tooltip {
  font-size: 1.4rem;
  font-family: "Source Sans 3", sans-serif;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 6px;
}