.main-login {
  padding: 5rem 0;
}

.login-form {
  background-color: #F5F5F5;
  padding: 3rem;
  border-radius: 1rem;
  max-width: 50rem;
  margin: 5rem auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  padding-bottom: 1rem;
  font-size: 3rem;
}

.text {
  font-size: 1.7rem;
  padding-bottom: 2rem;
  color: #727272;
}

.login-form .campo {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.login-form .campo label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.7rem;
}

.login-form .campo input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: border 0.3s ease;
}

.login-form .campo input:focus {
  outline: none;
  border-color: #0064F9;
}

.login-form .submit-btn {
  background-color: #0064F9;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.login-form .submit-btn:hover {
  background-color: #0052c3;
}

.login-form .iniciar-sesion-link {
    padding-top: 2rem;
    font-size: 1.7rem;
    color: #727272;
}

.login-form .iniciar-sesion-link a {
    color: var(--color-principal);
    text-decoration: none;
}

.login-form .toggle-login {
  background-color: transparent;
  border: none;
  color: #0064F9;
  padding-left: 1rem;
  cursor: pointer;
  font-size: 1.7rem;
}